.introWrappers{

    width: calc(100% - 200px);
    padding: 50px 100px;
    height: calc(400px - 100px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap:0px 30px;

    .spaceWrap{

         width: 80%;
         height: 100%;
         display: flex;
         align-items: center;

         &:nth-child(1){ width: 20%;}

        .profileBoxs{

            min-width:200px;
            min-height:200px;
            max-width:250px;
            max-height:250px;
            border-radius: 50%;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width:100%;
            }

           
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap:10px 0px;

            li{ 
               h3{ 
                font-size:3vw;
                color:#ff0000;
                font-family: "Do Hyeon", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            p{ 
                font-size: 3vw;
                color:#f1f1f1;
                font-family: "Do Hyeon", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

        &.tag{
            span{ 
            color:#aaa;
            font-size: 1.2vw;
            margin:0px 10px;
            letter-spacing: 1px;
        }
        }
        &.subTitles{
            padding-top:5px;
            span{

                padding: 8px 20px;
                border-radius: 30px;
                font-size: 1vw;
                background-color: #232323;
                color:#f1f1f1;
                display: flex;
                align-items: center;
                justify-content: center;
                float:left;
                margin:0px 5px;
            }
        }
       }
               
        }
    }


}