
/* 폰트 */
$fontSize-1rem : 1rem;
$fontSize-13 : 13px;
$fontSize-14 : 14px;
$fontSize-15 : 15px;
$fontSize-16 : 16px;
$fontSize-20 : 20px;
$fontSize-30 : 30px;
$fontSize-40 : 40px;
$fontSize-50 : 50px;
$fontSize-80 : 80px;

$fontWeight-300 : 300;
$fontWeight-400 : 400;
$fontWeight-500 : 400;
$fontWeight-600 : 400;
$fontWeight-700 : 400;

/* 컬러 */
$fontColor-333 : #333;
$fontColor-fff : #fff;
$fontColor-f1 : #f1f1f1;
$fontColor-a: #aaa;


 