.mainWrappers{

    width: 100%;
    height: 100vh;
    margin:0 auto;

    .mainWrap{

        padding-left:100px;
        padding-top: 100px;
        width: calc(100% - 100px);
        height: calc(100% - 100px);

      .mainTabBoxs{

        width: 100%;
        display: flex;
        align-items: center;

        .tabBoxs{

            width: 100%;
            height: 60px;
            border-bottom:1px solid #aaaaaa;
            position: relative;


            em{

                position: absolute;
                bottom:-2px;
                left:100px;
                width:150px;
                height: 3px;
                background-color: #fff;
                border-radius: 20px;
                transition: left 500ms;

                &.active{
                    transition: left 500ms;
                    left:250px;
                    width:110px;
                }
            }

            .btnBoxs{

                padding-left:100px;
                height: 100%;

                button{
                    padding:10px 20px;
                    height: 100%;
                    color:#aaa;
                    font-size: 25px;
                    text-transform: uppercase;
                    display: inline-block;

                    &.active{
                        color:#f1f1f1;
                    }
    
                }
                
            }
        }
      }
    }
}